//main:../style.less

.intro{
	padding-top: 100px;
	background: rgb(255,255,255);
background: linear-gradient(297deg, rgba(255,255,255,1) 0%, rgba(218,218,218,1) 100%);

}

.intro__inner{
	display: flex;
	border-bottom: 1px solid fade(@grey, 30%);
	padding-bottom: 120px;
	background: url(../img/pavel.png) right top no-repeat;
	position: relative;
}

.intro__content{
	width: 50%;
}

.intro__subbtitle{
	font-size: 2.13rem;
	font-weight: 200;
}
.intro__title{
	margin-bottom: 5px;
	font-size: 3rem;
	font-weight: 700;
}

.intro__text{
	font-size: 1.2rem;
	color: fade(@black, 70%);
	margin-bottom: 25px;
}

.intro__photo{
	position: absolute;
	bottom: -1px;
	z-index: 1;
	right: 0;
	
	top:10px;
}